DATABASE_URL=db_url(postgresql://user:password@host:port/db_name)
SECRET_KEY=your_secret_key
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_password_or_app_password
MAIL_SERVER=smtp.gmail.com
MAIL_FROM=your_email@gmail.com
MAIL_PORT=465
MAIL_STARTTLS=False
MAIL_SSL_TLS=True
MAIL_FROM_NAME=from_name_for_email
ASSEMBLYAI_API_KEY=
GITHUB_PERSONAL_ACCESS_TOKEN=
